body {
  background-color: #3CE3EB;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  font-variant: small-caps;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

span {
  font-weight: bold;
}

a {
  color: #000;
  font-size: 16px;
}

a:visited {
  /* visited link */
  color: #fff;
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: #EEA280;
}

a.navigation-list__item {
  font-variant: small-caps;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}

a.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #F6AC85;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button; this will be discussed more in-depth later */
  padding: 10px;
  border-radius: 5px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.button2 {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #F6AC85;
  color: #fff;
  text-decoration: none;
  /*adds spacing to the button; this will be discussed more in-depth later */
  padding: 10px;
  border-radius: 5px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.button:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #000;
}

.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #000;
}

.button2:hover {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #000;
}

.button2:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  background-color: #000;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.profile-text {
  position: absolute;
  margin-left: 55%;
  margin-top: 5%;
}

.profile__portrait {
  width: 350px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  box-shadow: 5px 5px 18px #000;
}

.profile__footer {
  clear: both;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}

.about {
  max-width: 700px;
  text-align: left;
  margin: 0 auto;
}

.about__table {
  text-align: center;
  border: 1px solid #fff;
  width: 500px;
  margin: 10px 10px;
}

.about__table__head {
  display: table-header-group;
  vertical-align: middle;
  border: 1px solid #fff;
  font-variant: small-caps;
  font-size: 20px;
  font-weight: 700;
}

img.page-header__item {
  width: 30%;
  height: auto;
}

.dog-gif {
  border-radius: 10%;
  width: 20%;
  margin: 10px;
}

.navigation-list {
  background-color: #3CE3EB;
  color: #fff;
  list-style-type: none;
}

.contact {
  max-width: 700px;
  padding-left: 20px;
  text-align: left;
  margin: 0 auto;
}

form#contact-form {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

input#submit__button {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin: 5px;
  font-family: inherit;
  font-size: 100%;
  background-color: #F6AC85;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
}

.logo {
  height: 85px;
  width: auto;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
}

.navigation-list,
.logo {
  flex: 0 1 100px;
}

.navigation-list {
  flex-grow: 1;
  text-align: left;
  margin: 0 auto;
}

.navigation-list__item {
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.social-logos {
  width: 32px;
  height: auto;
  margin-top: 5px;
}

.work {
  padding-left: 20px;
  padding-right: 20px;
}

.project-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.project-list__item {
  background-color: #fff;
  padding: 10px;
  width: auto;
}

.project-list__item:last-child {
  background-color: #FFEBCD;
}

/*==========================
         ANIMATIONS
 =========================== */
@keyframes cloud-move1 {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(100px, 0px);
  }
}

.cloud1 {
  animation: 25s cloud-move1 infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-40px, 0px);
  }
}

.cloud2 {
  animation: 15s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move3 {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(75px, 0px);
  }
}

.cloud3 {
  animation: 30s cloud-move3 infinite alternate linear;
}

@keyframes plane-move {
  from {
    transform: translate(-300px, 0px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.plane {
  animation: 5s plane-move infinite normal ease-in;
}

.navigation-list__item:before, .navigation-list__item:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.navigation-list__item:after {
  border-width: 2px;
  transition: all 0.4s;
}

.navigation-list__item :hover:before {
  opacity: 0.7;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.navigation-list__item:hover:after {
  opacity: 0.7;
  transform: translateX(-50%) translateY(-50%) scale(1.4);
}

/*==========================
      MEDIA QUERIES
 =========================== */
@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 24px;
  }
}
